.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Your CSS file or style section */
body {
  /* Create a linear gradient background with the specified colors */
  background: linear-gradient(135deg, #35478C, #6B5B95, #8B96A3);
  /* Add vendor prefixes for wider browser compatibility */
  background: -webkit-linear-gradient(135deg, #35478C, #6B5B95, #8B96A3);
  background: -moz-linear-gradient(135deg, #35478C, #6B5B95, #8B96A3);
  background: -o-linear-gradient(135deg, #35478C, #6B5B95, #8B96A3);

  /* You can adjust these properties to control the size and positioning of the gradient */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}